body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    background: linear-gradient(135deg, #ebb074 0%, #e5b3ac 100%);
}

.screen{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

img {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.menu {
    color: #fff;
    margin-left: 4em;
    text-transform: uppercase;
}

/* Tämä on toinen stailli
.menu h1 {
    font-size: 4em;
    letter-spacing: 30px;
    display: block;
    margin-bottom: 0.5em;
}
*/

.menu h1{
    font-weight: 300;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 10px;
    position: relative;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li{
    margin: 1em 0;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.menu li a:hover{
    color: #dbdbdb;
}

